body {
  padding-top: 60px;
  padding-bottom: 10px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#editor { 
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.table > tbody > tr > td {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.col-xs-1 {
  padding-left: 3px;
  padding-right: 3px;
}

.container-fluid {
  padding-left: 3px;
}


#editor {
  background-image: url("/views/img/RAVEN-white.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40% auto;
  background-color: rgba(243, 242, 243, 0.2)
}
